//- scoped style
style(type="text/css") 
  include ./mouse.css

script.
  document.addEventListener('DOMContentLoaded', function () {
    const sectionToScrollTo= "#{mousePartialClickScrollSection}"; // section to scroll to, set on controller
    const scrollSection = document.querySelector(sectionToScrollTo);

    const mouseButton = document.querySelector('.mouse__container');

    mouseButton.addEventListener('click', () => {
      document.body.scrollTo({
        top: scrollSection.scrollHeight,
        behavior: 'smooth',
      });
    });
  });


.mouse__container
  if mousePartialText
    p.mouse__text= mousePartialText 
  .mouse__face
    .mouse__border
    .mouse__wheel