/* .page-section.welcome::before {
  background-image: url('https://img.freepik.com/free-photo/3d-rendered-kawaii-strawberry-moon_490107-211.jpg');
  content: '';
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
  position: absolute;
} */

.welcome__text__container {
  position: relative;
}

.welcome__message {
  font-size: clamp(22px, 10vw, 80px);
  color: var(--primaryTextColor, #86b3e2);
  padding: 0;
  margin: 0;
}

.welcome__subtitle {
  color: #a6a6a6;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.welcome__ghost__face {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  max-width: 400px;
}

.welcome__scroll-for-more {
  position: absolute;
  bottom: 0;
}

.welcome--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.footer-text {
  color: #a6a6a6;
  font-size: 16px;
}
