style(type="text/css")
  include ./home__api-endpoints.css


section.page-section.endpoints#endpoints
  .inner-column
    h1 test
    picture.endpoints__ghost-left__face
      img.endpoints__ghost-left__image(src="images/green_ghost.png", alt="A happy ghost greeting you")
