section.page-section.welcome
  .inner-column
    h2.welcome__message Words API
    p.welcome__paragraph because for some reason no one wants to scale or maintain these.

    picture.welcome__ghost__face
      img.welcome__ghost__image(src="images/blue_ghost.png", alt="A happy ghost greeting you")