.page-content {
  flex-grow: 1;
}

.page-section {
  scroll-margin-top: 2em;
  position: relative;
  /* border: 1px solid lime; */
}

.page-section > .inner-column {
  position: relative;
  display: block;
  width: 98%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  /* border: 2px solid red; */
}

.page-section.form__container > .inner-column {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

.form__box {
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 30rem;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url('../../images/peekabo.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.form__title {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    var(--primaryTextColor),
    orangered
  );
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;

  font-size: 2.5rem;
  width: 50%;
  text-align: center;
}

.form__title:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.ghost__face {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  max-width: 400px;
}

.form__inputs {
  width: 50%;
  padding: 0 4rem;
}

.form__group {
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: 'Inter', sans-serif;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.01);
  border-bottom: 3px solid var(--primaryTextColor, #000);
}

.form__input:focus:invalid {
  border-bottom: 3px solid red;
}

.form__input::webkit-input-placeholder {
  color: var(--subTextColor);
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.form__group > .form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
