html
  head
  link(rel="stylesheet", href="/styles/pages/home.css", type="text/css")
  title= title
  body
    main.page-content
      include ./home__partials/home__welcome.pug
      .page-break
      include ./home__partials/home__api-endpoints.pug
      .page-break
  
    footer.page-section.site-footer
      .inner-column
        span.footer-text Daniel Michael &copy; 2022

