html
  head
  link(rel="stylesheet", href="/styles/pages/home.css", type="text/css")
  title= title
  body
    include ../../partials/header.pug

    main.page-content
      include ./home__partials/home__welcome.pug
      .page-break
      include ./home__partials/home__api-endpoints.pug
      .page-break
  
    footer.page-section.site-footer
      .inner-column
        span.footer-text &copy; 2022 GitCat#9811

