html
  head
  link(rel="stylesheet", href="/styles/pages/home.css", type="text/css")
  title= title
  body
    include ../../partials/header.pug

    main.page-content
      include ./home__partials/home__welcome.pug
      .page-break
      include ./home__partials/home__api-endpoints.pug
      .page-break
  
    include ../../partials/footer.pug
