html
  head
  link(rel="stylesheet", href="/styles/index.css", type="text/css")
  link(rel="stylesheet", href="/styles/pages/create.css", type="text/css")
  meta(name="viewport" content="width=device-width, initial-scale=1")

  title Words API | Create
  body
    include ../../partials/header.pug

    main.page-content
      section.page-section.form__container
        .inner-column
          form.form__box(action="/words/new", method="post")
            input(hidden, name="_csrf" value=csrfToken)
            h2.form__title
              = status === 'success' ? "Thank You!" : status === 'error' ? "Error!" : "Add a new word"
            picture.ghost__face
              img.ghost__image(src="/images/yawn_ghost.png")
            if canRestart
              p.form__status= message
              .form__inputs
                .form__group
                  button.form__button(type="submit") Restart
                  input(hidden, value="true", name="restart")
            else 
                .form__inputs
                  .form__group
                    input.form__input(type="text", id="textContent", name="textContent", placeholder="The word", required)
                    label.form__label(for="textContent") The word
                  .form__group
                    input.form__input(type="email", id="createdBy", name="createdBy", placeholder="Email address", required)
                    label.form__label(for="createdBy") Email address
                  .form__group
                    button.form__button(type="submit") Submit 

    include ../../partials/footer.pug
