html
  head
  link(rel="stylesheet", href="/styles/index.css", type="text/css")
  link(rel="stylesheet", href="/styles/pages/create.css", type="text/css")

  title Words API | Create
  body
    include ../../partials/header.pug

    main.page-content
      h1= message
      form.page-section.form__container(action="/words/new", method="post")
        .inner-column
          .form__box
            h2.form__title
              ="Add a new word"
            picture.ghost__face
              img.ghost__image(src="/images/yawn_ghost.png")
            .form__inputs
              .form__group
                input.form__input(type="text", id="textContent", name="textContent", placeholder="Word" required)
                label.form__label(for="textContent") Word
              .form__group
                input.form__input(type="text", id="createdBy", name="createdBy", placeholder="Enter your name (or leave empty)")
                label.form__label(for="createdBy") Your name
              .form__group
                button.form__button(type="submit") Submit 

    include ../../partials/footer.pug
