html
  head
  link(rel="stylesheet", href="/styles/pages/create.css", type="text/css")
  title Words API | Create
  body
    include ../../partials/header.pug

    main.page-content
      h1= message
      form.page-section.form__container(action="/words/new", method="post")
        .inner-column
          input(type="text" name="textContent", placeholder="Enter the word" required)
          input(type="text" name="createdBy", placeholder="Enter your name (or leave empty)")
          input(type="submit", name="Submit") 

    include ../../partials/footer.pug
