html
  head
  link(rel="stylesheet", href="/styles/pages/create.css", type="text/css")
  title= title
  body
    include ../../partials/header.pug

    main.page-content
      h1 Create New Word

    include ../../partials/footer.pug
